<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="mx-auto">
        <img src="./assets/images/logo.png" class="img-responsive" style="max-height:300px;padding-bottom:50px" />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="text-center col-md-12">Developed by:</div>
      <div class="col-4" style="width: 200px;">
        <h3 class="text-center">Andres Villarreal</h3>

        <div class="text-center">@villarrealtovar</div>
        <div class="text-center">
          <a href="http://www.bit.ly/DeborahKsdBlog">www.bit.ly/</a>
        </div>
      </div>
    </div>
  </div>
</div>