<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body" *ngIf="employees?.length">
    <div class="list-group">
      <button class="list-group-item list-group-item-action rounded-0"
          *ngFor="let employee of employees"
          [ngClass]="{'active': employee?.id === selectedEmployee?.id}"
          (click)="employeeSelected(employee)">{{ employee.name }}
        <ng-container *ngIf="displayTitle">
          ({{ employee.jobTitle }})
        </ng-container>
      </button>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="form-check col-md-7">
        <label>
          <input class="form-check-input"
                 type="checkbox"
                 (change)="checkChanged($event.target.checked)"
                 [checked]="displayTitle">
          Display Job Title
        </label>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-primary" (click)="newEmployee()">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>




  <!--a class='action-icon route-emp-link new-employee row' routerLink='/employees/new'>+ Add new Employee</a>
  <section class='page-list'>
      <div class='row titles-row'>
          <h4 class='cell large-cell col-md-5'> Name (job title)</h4>
          <h4 class='cell xsmall-cell col-md-1 text-center'>Age</h4>
          <h4 class='cell mid-cell col-md-2'>Username</h4>
          <h4 class='cell small-cell col-md-2'>Hire Date</h4>
          <h4 class='cell small-cell col-md-2'></h4>
      </div>
      <div class='row employee-row' *ngFor='let employee of employeeList'>
          <div class='cell large-cell col-md-5'>
              <h5>{{employee.name}}</h5>
              <span class="job-title">{{employee.jobTitle}}</span>
          </div>
          <div class='cell xsmall-cell col-md-1 text-center align-middle'>{{employee.age}}</div>
          <div class='cell mid-cell col-md-2'>{{employee.username}} </div>
          <div class='cell small-cell col-md-2'>{{employee.hireDate | date:'short'}} </div>
          <div class='cell small-cell col-md-2 row text-center'>
              <a class='action-icon col-md-4' routerLink='/employee/{{employee.id}}'>
                  <span name="edit"></span>
              </a>
              <a class='action-icon col-md-4' routerLink='/employee/{{employee.id}}' [queryParams]="{view:'true'}">
                  <span name="eye"></span>
              </a>
              <span class='action-icon col-md-4' (click)='removeEmployee(employee.id)' name="trash"></span>
          </div>
      </div>
  </section>
  <a class='action-icon route-emp-link new-employee row' routerLink='/employees/new'>+ Add new Employee</a>
</div-->