/*.action-icon{
    color: #000000;
}
.titles-row, .employee-row{
    border-top: 1px solid #000000;
}
.cell{
    border-right: 1px solid #000000;
    margin: 0;
    padding: 15px;
    text-transform: capitalize;
}
.page-list{
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.row{
    margin: 0;
}
.route-emp-link{
    font-size: 16px;
    margin: 15px;
    color: blue;
}
.page-wrapper{
    margin: 15px;
}*/